In [64]:
dataset = read.csv("Affairs.csv")
dataset$gender[dataset$gender =="male"] <- 1 
dataset$gender[dataset$gender =="female"] <- 0 
dataset$children[dataset$children =="yes"] <- 1 
dataset$children[dataset$children =="no"] <- 0 
dataset$gender <- as.integer(dataset$gender)
dataset$children <- as.integer(dataset$children)
dataset <- dataset[,2:10] # remove rownames
head(dataset)

  affairs gender age yearsmarried children religiousness education occupation
1 0       1      37  10.00        0        3             18        7
2 0       0      27   4.00        0        4             14        6
3 0       0      32  15.00        1        1             12        1
4 0       1      57  15.00        1        5             18        6
5 0       1      22   0.75        0        2             17        6
6 0       0      32   1.50        0        2             17        5
  rating
1 4
2 4
3 4
4 5
5 3
6 5

In [55]:
model <- lm(dataset$affairs~., data = dataset) # Fit Linear Model
summary(model)

Call:
lm(formula = dataset$affairs ~ ., data = dataset)

Residuals:
    Min      1Q  Median      3Q     Max
-5.0503 -1.7226 -0.7947  0.2101 12.7036

Coefficients:
              Estimate Std. Error t value Pr(>|t|)
(Intercept)    5.87201    1.13750   5.162 3.34e-07 ***
gender         0.05409    0.30049   0.180   0.8572
age           -0.05098    0.02262  -2.254   0.0246 *
yearsmarried   0.16947    0.04122   4.111 4.50e-05 ***
children      -0.14262    0.35020  -0.407   0.6840
religiousness -0.47761    0.11173  -4.275 2.23e-05 ***
education     -0.01375    0.06414  -0.214   0.8303
occupation     0.10492    0.08888   1.180   0.2383
rating        -0.71188    0.12001  -5.932 5.09e-09 ***
---
Signif. codes:  0 ‘***’ 0.001 ‘**’ 0.01 ‘*’ 0.05 ‘.’ 0.1 ‘ ’ 1

Residual standard error: 3.095 on 592 degrees of freedom
Multiple R-squared:  0.1317,	Adjusted R-squared:   0.12
F-statistic: 11.23 on 8 and 592 DF,  p-value: 7.472e-15

In [56]:
dataset$children <- 1 # Everyone has children!
pred_withchildren <- predict(model, newdata = dataset)
dataset$children <- 0 # Everyone does not have children!
pred_withoutchildren <- predict(model, newdata = dataset)

In [62]:
ATE1 = mean(pred_withchildren) - mean(pred_withoutchildren)
ATE2 = mean( pred_withchildren^2 - pred_withchildren^2 )
c(ATE1, ATE2)

[1] -0.1426245  0.0000000

In [50]:
# With scaling
# Scale data
dataset$"age" <- scale(dataset$"age")
dataset$"yearsmarried" <- scale(dataset$"yearsmarried")
dataset$"religiousness" <- scale(dataset$"religiousness")
dataset$"education" <- scale(dataset$"education")
dataset$"occupation" <- scale(dataset$"occupation")
dataset$"rating" <- scale(dataset$"rating")
head(dataset)

  affairs gender age         yearsmarried children religiousness education
1 0       1       0.48579987  0.3270877   0        -0.09976155    0.7631921
2 0       0      -0.59076990 -0.7498597   0         0.75676260   -0.9017025
3 0       0      -0.05248502  1.2245438   0        -1.81280985   -1.7341497
4 0       1       2.63893940  1.2245438   0         1.61328676    0.7631921
5 0       1      -1.12905478 -1.3332061   0        -0.95628570    0.3469685
6 0       0      -0.05248502 -1.1985877   0        -0.95628570    0.3469685
  occupation rating
1  1.5418592  0.06183911
2  0.9922404  0.06183911
3 -1.7558539  0.06183911
4  0.9922404  0.96830991
5  0.9922404 -0.84463170
6  0.4426215  0.96830991

In [51]:
model2 <- lm(dataset$affairs~., data = dataset) # Fit Linear Model
summary(model)

Call:
lm(formula = dataset$affairs ~ ., data = dataset)

Residuals:
    Min      1Q  Median      3Q     Max
-5.0503 -1.7226 -0.7947  0.2101 12.7036

Coefficients:
              Estimate Std. Error t value Pr(>|t|)
(Intercept)    5.87201    1.13750   5.162 3.34e-07 ***
gender         0.05409    0.30049   0.180   0.8572
age           -0.05098    0.02262  -2.254   0.0246 *
yearsmarried   0.16947    0.04122   4.111 4.50e-05 ***
children      -0.14262    0.35020  -0.407   0.6840
religiousness -0.47761    0.11173  -4.275 2.23e-05 ***
education     -0.01375    0.06414  -0.214   0.8303
occupation     0.10492    0.08888   1.180   0.2383
rating        -0.71188    0.12001  -5.932 5.09e-09 ***
---
Signif. codes:  0 ‘***’ 0.001 ‘**’ 0.01 ‘*’ 0.05 ‘.’ 0.1 ‘ ’ 1

Residual standard error: 3.095 on 592 degrees of freedom
Multiple R-squared:  0.1317,	Adjusted R-squared:   0.12
F-statistic: 11.23 on 8 and 592 DF,  p-value: 7.472e-15

In [65]:
dataset$children <- 1 # Everyone has children!
pred_withchildren <- predict(model2, newdata = dataset)
dataset$children <- 0 # Everyone does not have children!
pred_withoutchildren <- predict(model2, newdata = dataset)

ERROR: Error: variables ‘age’, ‘yearsmarried’, ‘religiousness’, ‘education’, ‘occupation’, ‘rating’ were specified with different types from the fit

In [68]:
ATE1 = mean(pred_withchildren) - mean(pred_withoutchildren)
ATE2 = mean( pred_withchildren^2 - pred_withchildren^2 )
c(ATE1, ATE2)

[1] -0.1426245  0.0000000